.navegacion_web{
    text-align: left;
    justify-items: space-between;
    background-color: white;
    padding: 20px;
    margin-top: auto;
}
.navegacion_web:hover{
    background-color: black;
}

.navegacion_web a{
    margin: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 1.3em;
    border-radius: 5px;
}
.login_perfil,
.login_carrito,
.login_nosotros,
.login_cerrar{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}
.login_perfil:hover{
    background-color: rgb(31, 255, 31);
    box-shadow: 0 0 100px rgba(31, 255, 31, 10);
}
.login_carrito:hover,
.login_nosotros:hover{
    box-shadow: 0 0 100px rgba(247, 136, 57, 10);
    background-color: rgb(247, 136, 57);
}
.login_cerrar:hover{
    box-shadow: 0 0 100px rgba(243, 25, 25, 10);
    background-color: rgb(243, 25, 25);
}
.navegacion_eventos{
    text-align: center;
}
.navegacion_eventos a{
    margin: 10px;
}
.container_inicio{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    background-color: rgb(194, 240, 226);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    text-align: center;
}
.imagen_evento{
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
