* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}
.html{
    background: black;
}
.body{
    background: rgb(0, 0, 0);
    height: 120vh;
    padding: none;
    border: none;
    margin: none;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #049967;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
}

input:hover {
    border: 1px solid #049967;
    box-shadow: 0 0 100px #049967;
}

.forgot-password a {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: #049967;
    text-decoration: none;
}
.forgot-password a:hover {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: #049967;
    text-decoration: none;
    box-shadow: 0 0 100px #049967;
}


.login-btn,
.signup-btn {
    padding: 10px;
    background-color: #000033;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}

.signup-btn {
    background-color: #000033;
}

.login_iniciar {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid #1739f8;
    font-family: Arial, Helvetica, sans-serif;
}

.login_crear {
    text-decoration: none;
    padding: 10px;
    color: #fdfdfd;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid rgb(31, 255, 31);
    font-family: Arial, Helvetica, sans-serif;
}
.login_crear2 {
    text-decoration: none;
    padding: 10px;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid rgb(31, 255, 31);
    font-family: Arial, Helvetica, sans-serif;
}
.login_crear:hover,
.login_crear2:hover {
    background-color: rgb(31, 255, 31);
    box-shadow: 0 0 50px rgb(214, 186, 25);
}

.login_iniciar:hover {
    background-color: #1739f8;
    box-shadow: 0 0 50px rgba(214, 186, 25);
}

.container_login {
    text-align: center;
    width: 50%;
    margin: 30px auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0 0 10px #049967;
    border-radius: 20px;
}

.crear_cuenta {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.h2_login {
    text-align: center;
    font-family: 'Helvetica';
    font-size: 3em;
    color: #049967;
}

div a button {
    justify-content: center;
}

.Botones {
    text-decoration: none;
    color: #000033;
    margin: 10px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.imagen_evento {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.imagen_evento:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #049967;
    -webkit-box-shadow: 0px 0px 15px 15px #049967;
    transform: rotate(20deg);
    -webkit-transform: rotate(90eg);
}