
body {
    background-color: rgb(231, 231, 231);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #049967;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
}
input:hover{
    border: 1px solid #049967;

}

.forgot-password a {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: #049967;
    text-decoration: none;
}

.login-btn,
.signup-btn {
    padding: 10px;
    background-color: #000033;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}

.signup-btn {
    background-color: #000033;
}
.login_iniciar{
    text-decoration: none;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid #1739f8;
}
.login_crear{
    text-decoration: none;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid rgb(31, 255, 31);
}
.login_crear:hover{
    background-color: rgb(31, 255, 31);
    box-shadow: 0 0 100px rgba(255, 221, 31);
}
.login_iniciar:hover{
    background-color: #1739f8;
    box-shadow: 0 0 100px rgba(255, 221, 31);
}
.container_login{
    text-align: center;
    width: 50%;
    margin: 30px auto;
    background-color: rgb(194, 194, 194);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

.crear_cuenta {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.h1_login{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: #000033;
}

.h2_login {
    text-align: center;
    font-family: 'Helvetica';
    font-size: 3em;
    color: #000033;
}

div a button{
    justify-content: center;
}
.Botones{
    text-decoration: none;
    color: #000033;
    margin: 10px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.imagen_evento{
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}